// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-title{
	color: #0b62cf;
}

.card-footer{
	text-align: right;
	span{
		margin-right: 10px;
	}
}

#error_explanation{
	color: red; 
	border-radius: 4px; 
	border: 1px solid red; 
	padding: 20px;
}

.actions{
	text-align: right;
}
